<a href="https://colab.research.google.com/github/Jefferson-Borges-Dev/Aplica-o-de-Python-WEB/blob/main/Aula_07_Jotta_B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#  Jotta B

In [ ]:
nome = input(" Digite o nome do Aluno: ")
print(nome)

 Digite o nome do Aluno: Jotta B
Jotta B

In [ ]:
 # Model - è implementado o banco de dados ou o modelo objeto -relacional
 # Template: é implementado o modo que a informação vai  ser  apresentada. 
 # View:

In [ ]:
a = 1
b = 2 
c = 3 
print(a)
print(b,"    ", b)
print(c, "    ",c,"     ",c)

1
2      2
3      3       3

In [ ]:
# n = input("Digite um numero: ")

def ex1(n):
  for i in range(1, n+1):
    print((str(i)+ " ")*i)

obj1 = ex1(int(input()))

10
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9
10 10 10 10 10 10 10 10 10 10

In [ ]:
#def ex1(i):
lista = []
for i in range(10):
  i += 1
  lista.append(i)
  print(lista)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
def ex1(i):
  lista = []
  n = int(input())
  for i in range(n):
    i += 1
    lista.append(i)
    print(lista)

obj1 = ex1(n)

20
[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
class Nota():
  def __init__(nota1, nota2, nota3):
    self.nota1 = nota1
    self.nota2 = nota2
    self.nota3 = nota3

  def impr(nota1,nota2,nota3):
    print(nota1+nota2+nota3)

In [ ]:
obj = impr(5,6,8)

19

In [ ]:
class Nota():
  def __init__(nota1):
    self.nota1 = nota1
  

def res(nota1): 
  if nota1 > 0 :
    print("P")
  else:
    print("N")

In [ ]:
obj = res(-1)

N

In [ ]:
def somaImposto(taxaImposto, custo):
  taxa = taxaImposto / 100
  custo = custo
  custoAlterado = (custo * taxa) + custo
  return custoAlterado

In [ ]:
obj = somaImposto(20,100)
print(obj)

120.0

In [ ]:
def reverse(x):
  print(x[-1:-(len(x)+1):-1])

In [ ]:
obj1 = reverse(input("Digite um numero: "))

Digite um numero: 456
654

In [ ]:
numero = input("Digite um numero: ")
print(numero[-1::-1])

Digite um numero: 789
987