<a href="https://colab.research.google.com/github/Jefferson-Borges-Dev/Aplica-o-de-Python-WEB/blob/main/Exercicios_Aula_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n1 = int(input("infrome um numero inteiro: "))
n2 = int(input("infrome mais um numero inteiro: "))
n3 = int(input("infrome mais um numero inteiro:"))
n4 = int(input("infrome mais um numero inteiro: "))
n5 = int(input("infrome mais um numero inteiro: "))
n6 = int(input("infrome mais um numero inteiro: "))
n7 = int(input("infrome mais um numero inteiro:"))
n8 = int(input("infrome mais um numero inteiro: "))
n9 = int(input("infrome mais um numero inteiro: "))
n10 = int(input("infrome o ultimo numero inteiro: "))
z = 0
i = 0
x=[]
lista = [n1,n2,n3,n4,n5,n6,n7,n8,n9,n10]


for n in lista:
  if n%2 == 0: 
    z= z+1
    x+= [n]
  
    
  else:
    i= i+1
    
print("esses numeros são pares:",x)
print("Esse foi o total de numeros IMPAR:",i)
print("Esse foi o total de numeros PAR: ",z)

infrome um numero inteiro: 10
infrome mais um numero inteiro: 8
infrome mais um numero inteiro:6
infrome mais um numero inteiro: 4
infrome mais um numero inteiro: 2
infrome mais um numero inteiro: 9
infrome mais um numero inteiro:7
infrome mais um numero inteiro: 5
infrome mais um numero inteiro: 3
infrome o ultimo numero inteiro: 1
esses numeros são pares: [10, 8, 6, 4, 2]
Esse foi o total de numeros IMPAR: 5
Esse foi o total de numeros PAR:  5

In [ ]:
diaSemana = str(input("Diga qual o dia da semana: "))

if (diaSemana == "sabado" or diaSemana == "domingo"):
  print("Hoje é dia de Descanso!")
else:
  print("Você precisa ir trabalhar!")

Diga qual o dia da semana: sabado
Hoje é dia de Descanso!

In [ ]:
for name in ["Reginaldo", "Gisele Pintcher", "scoob", "Marlene", "Zezinho", "cibele","Suely"] :

  convite = ("oi, " + name + "! Por favor, venha para o sábado pet em minha casa!")
  print(convite)

oi, Reginaldo! Por favor, venha para o sábado pet em minha casa!
oi, Gisele Pintcher! Por favor, venha para o sábado pet em minha casa!
oi, scoob! Por favor, venha para o sábado pet em minha casa!
oi, Marlene! Por favor, venha para o sábado pet em minha casa!
oi, Zezinho! Por favor, venha para o sábado pet em minha casa!
oi, cibele! Por favor, venha para o sábado pet em minha casa!
oi, Suely! Por favor, venha para o sábado pet em minha casa!

In [ ]:
x=[]
for n in range(11):
  if n%2 == 0: 
    x += [n]
    print(i)
  else: 
    print(n * n)

[0, 2, 4, 6, 8, 10]
1
[0, 2, 4, 6, 8, 10]
9
[0, 2, 4, 6, 8, 10]
25
[0, 2, 4, 6, 8, 10]
49
[0, 2, 4, 6, 8, 10]
81
[0, 2, 4, 6, 8, 10]

In [ ]:
palavra = input("Digite qulaquer palavra: ")
for indice, letra in enumerate(palavra) :
  if (letra == "a" or letra == "e" or letra == "i" or letra == "o" or letra == "u") : 
    print(indice, letra)

Digite qulaquer palavra: azeitona
0 a
2 e
3 i
5 o
7 a

In [ ]:
lista = ["morango","manga", "pitomba", "laranja", "goiaba" ]
print("morango" in lista)

True

In [ ]:
for n in range(100,151):
  if n % 2 ==0 :
    print(n)

100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150

In [ ]:
temperatura = 40
while temperatura > 25 :
  temperatura -= 1
  print(" A temperatura esta caindo!", temperatura)

 A temperatura esta caindo! 39
 A temperatura esta caindo! 38
 A temperatura esta caindo! 37
 A temperatura esta caindo! 36
 A temperatura esta caindo! 35
 A temperatura esta caindo! 34
 A temperatura esta caindo! 33
 A temperatura esta caindo! 32
 A temperatura esta caindo! 31
 A temperatura esta caindo! 30
 A temperatura esta caindo! 29
 A temperatura esta caindo! 28
 A temperatura esta caindo! 27
 A temperatura esta caindo! 26
 A temperatura esta caindo! 25

In [ ]:
contador = 0
for n in range(101):
  if n != 100 :
    contador +=1
    print(contador)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
for elemento in range (11):
  if elemento % 2 == 0:
    print("Esses numeros são Par: ", elemento)

Esses numeros são Par:  0
Esses numeros são Par:  2
Esses numeros são Par:  4
Esses numeros são Par:  6
Esses numeros são Par:  8
Esses numeros são Par:  10

In [ ]:
  lista = []
  p = 4

  for n in range(20):
    p += 1
    if p <= 20 and p % 2 == 0:
      lista.append(p)
  print(lista)

[6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
temperatura = float(input("Qual a temperatura?: "))
if temperatura > 30:
  print('Vista roupas leves.')
else:
  print('Busque seus casacos.')

Qual a temperatura?: 25
Busque seus casacos.

In [ ]:
s = 0
frase = ("Educação não transforma o mundo. Educação muda pessoas. Pessoas transformam o mundo.")
for i in frase :
  if i == "s":
    s += 1
print("contem",s, 'na frase!')

contem 8 na frase!

In [ ]:
lista = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
print(lista[5:])

['f', 'g', 'h']

In [ ]:
dict1 = {'a':1,'b':2} 
dict2 = {'c':4,'d':5}
dict3 = {'a':4,'b':5}

In [ ]:
for um_valor in range(10):
  print(um_valor)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for um_char in "Venha para a festa":
  print(um_char)

V
e
n
h
a

p
a
r
a

a

f
e
s
t
a